@import "meyer-reset";
@import "typography";

body {
    margin: auto;
    width: 960px;
}

body > header {
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
}

section {
    margin-bottom: 20px;

    .entry-header {
        font-size: 140%;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: black;
        }
    }

    b {
        font-weight: bold;
        font-size: 140%;
    }

    footer {
        & > div {
            display: inline;
        }
    }
}

body > footer {
    text-align: right;
    color: #cccccc;

    a {
        color: #999999;
    }
}

@media screen and (max-device-width: 480px) {
    body {
        width: 99%;
    }
    form textarea {
        width: 99%;
    }
}

