<input type="text" name="title" /><br />
<textarea name="body" cols="80" rows="30"></textarea><br />
<select name="format">
    <option value="hatena" selected="selected">hatena</option>
    <option value="html">html</option>
</select><br />
