<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'blog.64p.org' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />  
    <meta http-equiv="Content-Script-Type" content="text/javascript" />  
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"]]>
    <meta name="format-detection" content="telephone=no" />

    <link href="[% uri_for('/static/css/main.css?v=2') %]" rel="stylesheet" type="text/css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.64p.org/index.rss">
    <script src="/static/js/jquery-1.5.min.js" type="text/javascript"></script> 
    <script src="/static/js/require.min.js" type="text/javascript"></script> 
    <script src="/static/js/main.js?v=4" type="text/javascript"></script> 
</head>
<body>
    <header>
        <a href="[% uri_for('/') %]">blog.64p.org</a>
    </header>
    <div id="Content">
